@import '../../../../../styles.scss';

.ds-body{

  &.as-secondary-insurance{
    padding-top: 119px;
    .padding-32 {
      padding-bottom: 10px !important;
    }
    .ds-body--content{
      width: 100%;
      .ds-input__error {
        height: auto;
      }
      >.ds-col--12{

        >.ds-flex.--row{
          padding: 0 110px;

          > .ds-col--9{

            > div{

              &:first-of-type{
                place-content: start;
                justify-content: start;
                position: sticky;
                top: -90px;
                margin-bottom: 90px;
              }
            }

            .ds-grid--12{

              form{

                [class*="icon--info"]{
                  display: flex;
                  align-items: center;
                  line-height: 1;
                }
              }
            }
          }

          > .ds-col--3{
            margin-top: 48px;
            margin-left: 48px;
            position: sticky;
            top: 120px;
            min-height: 700px;
            height: 100%;
            margin-bottom: 100px;
          }
        }
      }
    }
    @include when-less-than(ds-1024){
      padding-top: 84px;
      .ds-body--content{
        width: 100%;

        .ds-col--12{

          .ds-flex.--row{
            padding:0px;
            .ds-col--9{
              width: 100%;
            }

            >.ds-col--3{
              display: block !important;
              width: 0;
              padding: 0;
              margin: 0;

              > div{
                display: none;
              }
            }

            .ds-col--9{
              width: 100%;
            }
          }

          .ds-pagination--footer{

            &.ds-col--10{
              width: 100%;
            }
          }
        }
      }
      .ds-grid--12{
        .ds-col--6{
          width: 50%;
        }
        .ds-col--3 {
          width: 25%;
        }
        &.address {
          .ds-col--8{
            width: 66.66%;
          }
          .ds-col--4 {
            width: 33.33%;
          }
        }
      }
    }
    @include when-less-than(ds-768){

      .ds-body--content{
        width: 100%;

        > .ds-col--12{
          padding: 0;
          > .ds-flex.--row{

            > .ds-col--9{
              width: 100%;
              margin-bottom: 90px;
              padding: 0;

              [class*="ds-col"]{
                width: 100%;
                padding-right: 0;
              }

              form{

                [class*="ds-col"]{

                  .ds-input{
                    width: 100%;
                    padding-right: 0;
                  }
                }

                [class*="ds-col--3"]{
                  width: 100%;
                  padding-right: 0;
                }

              }
            }
          }

          .ds-pagination--footer{
            width: 100%;

            &.ds-col--8{
              width: 100%;

              .ds-col--12{
                padding: 0;

                .ds-col--6{
                  width: 100%;
                  padding: 0;

                  button{
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        as-footer{
          background: $ds-gray__100;
          width: 100%;
          position: fixed;
          bottom: 60px;
        }
      }
      .ds-grid--12{
        .ds-col--6{
          width: 100%;
        }
        .ds-col--3 {
          width: 100%;
        }
        &.address {
          .ds-col--8{
            width: 100%;
          }
          .ds-col--4 {
            width: 100%;
          }
        }
      }
    }

    @include when-less-than(ds-640){

      .ds-body--content{

        as-footer{
          bottom: 78px;
        }
      }
    }
    hr{
      margin-top:10px;
    }
  }
}

sup{
  font-size: 8px;
  font-weight: normal;
}

.errorMessage{
  border-radius: 4px;
  background-color: #f3e0e0;
  padding: 16px;
  font-size: 12px;
  color: #424245;
  margin-bottom: 20px;
  span{
    padding-left: 12px;
  }
}

.labCardLink{
  text-decoration: underline;
  cursor: pointer;
}

.as-secondary-insurance__overlay {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.visually-hidden {
  top: 0;
  left: -2px;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}


.ds-input__radio:focus{
  outline: 2px solid $ds-green__500;
  outline-offset: 3px;
}

.as-insurance__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  @include when-less-than(ds-640){
    flex-direction: column;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
  }
  flex-direction: row;
}
.ds-card{
  width:100%;
  overflow: inherit !important;
}
.ds-grid--12{
  .ds-col--6{
    &:nth-child(2){
      .ds-input {
        margin-right: 0;
      }
    }
  }
}
.inputAlert {
  padding: 10px;
}
.ds-icon--expand {
  position: absolute;
  right: 15px;
  top: 42px;
}

.checkbox-custom {
  padding-bottom: 24px;
  // input {
  //   display: none;
  //   position: absolute;
  //   left: -9999px;
  // }
}

.label-custom {
  @include when-less-than(ds-640){
    margin-left: 0px !important;
  }
}
.margin-group{
  margin: 14px 0px !important;
}


.ds-input {
	input {
		border: 1px solid $ds-gray__500;
	}
	.mat-select {
		border: 1px solid $ds-gray__500;
	}
}
.ds-input__radio {
	[type=radio] {
		&:not(:checked)+label {
			&:before {
				border: 2px solid $ds-gray__500;
			}
		}
	}
}
.ds-input__checkbox {
	>span {
		&:before {
			border: 2px solid $ds-gray__500;
		}
	}
}

.error_message_margin {
  margin-bottom: 150px !important;
}
