<ng-container>
  <footer class="ck-footer1">
    <div class="ck-footer1__ready" fxLayout="row" fxLayoutAlign="space-between center" i18n>
      <p class="interested-more p-4">
        Are you interested in learning more about participating in research studies through Quest?
      </p>
      <a class="ds-link btn_learn_more" (click)="redirectToEloqua()"> <span> Learn More </span>
        <mat-icon class="card-button-icon">open_in_new</mat-icon>
      </a>
       <p class="btn_arraow_learn_more p-4">
        <button class="ds-button --inverse closeButton" aria-label="open banner button" (click)="openBanner()" >
          <mat-icon class="arrow_icon_keyboard" >keyboard_arrow_up</mat-icon>
        </button>
      </p>
    </div>
  </footer>
</ng-container>
