  <div class="bfa-redirect-popup">
    <div mat-dialog-header class="ds-modal__header ds-col--12 ds-flex --end-center">
      <button class="ds-icon--close ds-font--24 ds-green__900" id="close-button" (click)="closeDialog()"
        aria-label="close" role="button" name="closebutton" tabindex="0" i18n></button>
    </div>

    <mat-dialog-content class="ds-col--12">
      <div class="ds-modal__content ds-col--12 ds-flex --column --center-start">
        <h2 id="mat-dialog-title" aria-level="1" aria-label="Employer Health and Wellness"><span
            class="ds-icon--alert ds-yellow__700 margin-right-8"></span>Employer health and wellness</h2>
        <span class="ds-body--base margin-bottom-24" i18n>{{content.as_bfa_redirect.content}}</span>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="ds-col--12">
      <div class="ds-modal__actions ds-col--12 ds-flex --wrap">
        <div class="ds-col--5 ds-flex --start-center">
          <button class="ds-link ds-green__900" (click)="closeDialog()">Never mind</button>
        </div>
        <div class="ds-col--7 ds-flex --end-center">
          <button class="ds-button --primary --medium" (click)="goToOtherWebsite()">
            <label>Continue</label>
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
