 @import '../../../../../styles.scss';

.ds-grid--12 {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  place-content: center;
  justify-content: center;
  line-height: normal;
  z-index: 3;
  padding: 30px 0;
  .ds-col--12{
    max-width: 1120px;
    padding: 0;
    padding: 0 24px;

    @include when-less-than(ds-768) {
      padding: 0 16px;
    }

    .padding-right-12 {
      @include when-less-than(ds-768) {
        display: none;
      }
    }

    div{
      padding: 0;

      &:first-of-type{
        margin-right: 12px;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &:first-of-type{
          margin-top: 10px;
        }
     }

      .ds-icon--close{
        cursor: pointer;
        &:focus{
          outline: 2px solid #fff !important;
          outline-offset: 3px;
        }
      }

    }
  }
  [class*="icon--first-ait-kit"]{
    display: flex;
    align-items: center;
    line-height: 1;
  }

}

.ds-grid--12{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.5);
  &:first-of-type{
    margin-bottom: 18px;
    @include when-less-than(ds-1024){
      margin-bottom: 54px;
    }
  }

  &:nth-of-type(2){
    margin-bottom: 45px;
  }
}

@include when-less-than(ds-1024) {
  .ds-col--1, .ds-col--10 {
    align-items: center;
  }
}

@include when-less-than(ds-768){
  .ds-grid--12{
    &:first-of-type{
      margin-bottom: 60px;
      position: fixed;
      width: 100%;
      padding: 8px 0;
      display: flex;
      place-content: center;
      justify-content: center;
      z-index: 2;
      font-size: 9px;
    }

    &:nth-of-type(2){
      margin-bottom: 46px;
    }

    .ds-col--1 {
      margin-left: 25px;
    }

    .ds-col--10 {
      align-items: baseline;
    }

  }
}

.learn-more-link {
  text-decoration-color: #FFFFFF;
}

.ds-col--10 {
  @include when-less-than(ds-768) {
    flex-direction: column;
  }
}

.ds-col--9 {
  width: auto;
  @include when-less-than(ds-768) {
    margin-bottom: 12px;
  }
}
