@import '../../../../../styles.scss';

.covid-19-electronic-dialog {
  h2 {
    display: flex;
    align-items: center;
    @include when-less-than(ds-768){
      align-items: flex-start !important;
    }
  }
  max-width: 696px;
  > mat-dialog-actions > .ds-modal__actions {
    justify-content: space-between !important;
  }

  > mat-dialog-actions > .ds-modal__actions > [class*=ds-col]{
    width: 48%;
    // margin-right: 16px;
    > .--secondary {
      min-width: 100%
    }
  }
  
  @include when-less-than(ds-768){
    max-width: 348px;
    > mat-dialog-actions > .ds-modal__actions > [class*=ds-col]{
      width: 100% !important;
      justify-content: center;
      margin-bottom: 8px;
      > .--secondary{
        width: 100% !important;
        justify-content: center;
        min-width: 100% !important;
        padding: 16px;
        @include when-less-than(ds-480){
          height: 100%;
        }
      }
    }
  }

  @include when-less-than(ds-480){
    max-width: 100%;
 }
.symptoms-buttons {
  @include when-wider-than(ds-768) {
    padding: 16px;
  }
}
}
.paper-sysmptom {
  > mat-dialog-actions > .ds-modal__actions{
    justify-content: flex-end !important;
  }
  > mat-dialog-actions > .ds-modal__actions > [class*=ds-col]{
    margin-right: 0px !important;
  }
  .--secondary {
    min-width: auto !important;
  }
}
