<main class="ds-body as-echeckin-insurance">
  <div class="ds-grid--12 ds-body--content">
    <!-- {{form.value|json}} -->
    <div class="ds-col--12 pad-24">
      <div class="ds-flex --row ds-form__col--2">
        <div class="ds-col--12" id="skip-to-main" tabindex="-1">
          <div>
            <div>
              <button class="ds-icon--arrow-back ds-font--24 ds-green__700" (click)="goToPrevious()" tabindex="0"
                aria-label="back" title="back"></button>
              <div>
                <h2 class="ds-green__700 margin-bottom-32" [attr.aria-label]="[content.as_echeckin_insurance_information.title]" role="heading" aria-level="1" i18n tabindex="0">
                  {{content.as_echeckin_insurance_information.title}}</h2>
              </div>
            </div>
            <form [formGroup]="form">
              <div class="ds-grid--12">
                <div class="ds-col--12 ds-card --gray__200 padding-32">
                  <h3 class="ds-green__700 no-margin" role="heading" aria-level="2">Primary insurance</h3>
                  <hr class="green">
                  <div class="ds-grid--12 no-pad">

                    <div class="ds-col--6">
                      <div class="ds-input">
                        <div class="ds-input --required as-insurance-info-page__medium-input"
                          [ngClass]="{'--error': !form.get('provider').valid && form.get('provider').touched}">
                          <div class="ds-input__label" i18n>Insurance provider</div>
                          <input type="text" formControlName="provider" aria-label="Insurance Providers" matInput
                            [matAutocomplete]="auto" id="as_insurance_insuranceProvider_txt" (blur)="checkError()"
                            (focus)="clearError()" [readonly]="markFieldReadOnly" />
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="ds-dropdown">
                            <mat-option *ngFor="let provider of providerOptions; let j=index" [value]="provider"
                              id="as_insurance_provider_{{j+1}}" class="ds-dropdown__item">
                              {{provider['insuranceCompanyName']}}
                            </mat-option>
                          </mat-autocomplete>
                          <div class="ds-input__error" role="alert">{{form.get('provider').errors | validationError}}</div>
                          <div class="ds-card ds-white--bg inputAlert" [ngClass]="{'inputAlert' : error===true}">
                            <div class="ds-font--18 margin-bottom-16" *ngIf="noMatchesError">
                              <span class="ds-icon--alert ds-yellow__700 margin-right-8"></span>
                              <span class="ds-gray__900 ds-font--14">No matches found </span>
                            </div>
                            <div class="ds-font--1 margin-bottom-16" *ngIf="bringCardError">Our system can't find your
                              provider; we're updating it regularly. Bring your insurance card and we'll get coverage
                              figured out for you.
                            </div>
                            <button class="ds-link ds-green ds-font--16" (click)="error=false">Continue</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ds-col--6">
                      <div class="ds-input">
                        <div class="ds-input --required"
                          [ngClass]="{'--error': !form.get('memberId').valid && form.get('memberId').touched}">
                          <div class="ds-input__label" i18n>Member ID</div>
                          <input type="text" formControlName="memberId" id="as_insurance_memberId_txt"
                            aria-label="Member ID" (focus)="invalidId=false" />
                          <div class="ds-input__error" role="alert">{{form.get('memberId').errors | validationError}}</div>
                          <div class="ds-card ds-white--bg inputAlert" [ngClass]="{'inputAlert' : invalidId===true}">
                            <div class="ds-font--1 margin-bottom-16">Hmm, we could not find a match. Please double check your
                              information and try again.</div>
                            <button class="ds-link" (click)="continueError()">Continue</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ds-col--6">
                    <div class="ds-input">

                      <div class="ds-input">
                        <div class="ds-input__label" i18n>{{content.as_insurance_information.label_groupId}}</div>
                    <input type="text" formControlName="groupId" id="as_insurance_groupId_txt"
                    [attr.aria-label]="[content.as_insurance_information.label_groupId]" />
                    <div class="ds-input__error" role="alert"></div>
                      </div>
                    </div>
                  </div>
                  <p class="ds-font--12 --500 ds-col--12 ds-green__700 no-margin" id="as_insurance_insuranceHolderTitle" tabindex="0"
                  [attr.aria-label]="[content.as_insurance_information.primary_insurance_holder]" role="complementary" i18n>
                  {{content.as_insurance_information.primary_insurance_holder}}</p>
                  <div class="ds-col--6">
                    <div class="ds-input --required">
                      <div class="ds-flex --row">
                        <div class="ds-input__radio" role="radiogroup">
                          <input type="radio" id="primary" role="radio" aria-checked="true" name="primary"
                            formControlName="primary" value="true"
                            (change)="handleChange($event.target.value)">
                          <label for="primary" i18n>{{personalInfo.firstName}}</label>
                        </div>
                        <div class="ds-input__radio" role="radiogroup">
                          <input type="radio" id="other" role="radio" aria-checked="false" name="primary"
                            formControlName="primary" value="false"
                            (change)="handleChange($event.target.value)">
                          <label for="other" i18n>Someone else</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="blnInsuranceHolder">
                    <p  class="ds-font--16--bold ds-col--12 ds-green__700 no-margin" id="as_insurance_information_PersonalAddress"
                    [attr.aria-label]="[content.as_echeckin_insurance_information.primary_insurance_holder_information]"
                      tabindex="0" role="complementary" i18n>
                      {{content.as_echeckin_insurance_information.primary_insurance_holder_information}}</p>
                      <div formGroupName="PersonalAddress">
                      <div class="ds-grid--12 no-pad">
                        <div class="ds-col--6">
                          <div class="ds-input">
                            <div class="ds-input --required first-name"
                            [ngClass]="{'--error': !form.get('PersonalAddress').get('firstName').valid && form.get('PersonalAddress').get('firstName').touched}">
                            <div class="ds-input__label" i18n>First name</div>
                            <input type="text" formControlName="firstName" aria-label="First Name" id="firstName" />
                            <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('firstName').errors | validationError}}
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="ds-col--6">
                          <div class="ds-input">
                            <div class="ds-input --required last-name"
                            [ngClass]="{'--error': !form.get('PersonalAddress').get('lastName').valid && form.get('PersonalAddress').get('lastName').touched}">
                            <div class="ds-input__label" i18n>Last name</div>
                            <input type="text" formControlName="lastName" id="lastName" aria-label="Last Name" />
                            <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('lastName').errors | validationError}}
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ds-grid--12 no-pad">
                        <div class="ds-col--4">
                          <div class="ds-input --required date-of-birth"
                          [ngClass]="{'--error': !form.get('PersonalAddress').get('dateOfBirth').valid && form.get('PersonalAddress').get('dateOfBirth').touched}">
                          <div class="ds-input__label" i18n>Date of birth</div>
                          <input type="text" formControlName="dateOfBirth" (keyup)="onkeypressdate($event,dateElement)"
                            #dateElement aria-label="Date Of Birth" id="dateOfBirth"
                            [matDatepicker]="picker" [min]="minDate" [max]="maxDate" matInput />
                          <mat-datepicker #picker></mat-datepicker>
                          <div class="ds-font--14 ds-gray__600 margin-top-3">MM/DD/YYYY</div>
                          <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('dateOfBirth').errors | validationError}}
                          </div>
                          </div>
                        </div>

                        <div class="ds-col--4">
                          <div class="ds-input --required">
                            <div class="ds-input__label" i18n>Sex</div>
                            <div class="ds-flex --row">
                              <div class="ds-input__radio" role="radiogroup">
                                <input type="radio" id="sex--male" role="radio" aria-checked="false" value="Male" formControlName="gender">
                                <label for="sex--male" i18n>Male</label>
                              </div>
                              <div class="ds-input__radio" role="radiogroup">
                                <input type="radio" id="sex--female" role="radio" aria-checked="false" value="Female"
                                  formControlName="gender">
                                <label for="sex--female" i18n>Female</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="ds-col--4">
                          <div class="ds-input --required phone-number"
                          [ngClass]="{'--error': !form.get('PersonalAddress').get('phone').valid && form.get('PersonalAddress').get('phone').touched}">
                          <div class="ds-input__label" i18n>Phone number</div>
                          <input type="tel" formControlName="phone" required
                            (keyup)="onkeypressphone($event,phoneElement)" #phoneElement id="phone"
                            aria-label="Phone Number" matInput />
                            <div class="ds-font--14 ds-gray__600 margin-top-3">555-555-5555</div>
                          <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('phone').errors | validationError}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="ds-grid--12 no-pad">
                        <div class=" ds-col--6">
                         <div class="ds-input">
                        <div class="ds-input --required"
                        [ngClass]="{'--error': !form.get('PersonalAddress').get('relationship').valid&&form.get('PersonalAddress').get('relationship').touched}">
                        <div class="ds-input__label" i18n>Relationship to you</div>
                        <input type="text" formControlName="relationship" matInput [matAutocomplete]="relation"
                          id="as_insurance_relationship" aria-label="Relation" />
                        <mat-autocomplete #relation="matAutocomplete" class="ds-dropdown">
                          <mat-option *ngFor="let relation of relationList; let i=index" [value]="relation.value"
                            id="as_insurance_relationship_{{i+1}}" class="ds-dropdown__item">
                            {{relation.label}}
                          </mat-option>
                        </mat-autocomplete>
                        <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('relationship').errors | validationError}}
                        </div>
                        </div>
                      </div>
                    </div>
                      </div>

                    <p  class="ds-font--16--bold ds-col--12 ds-green__700--bold no-margin"
                    [attr.aria-label]="[content.as_echeckin_insurance_information.primary_insurance_holder_address]"
                      tabindex="0" role="complementary" i18n>
                      {{content.as_echeckin_insurance_information.primary_insurance_holder_address}}</p>
                      <div class="ds-grid--12">

                            <!-- {{(optionsAsync$ | async)?.length}} -->
                            <!-- <div class="ds-col--12 ds-flex --row column"> -->
                              <div class="ds-col--8">
                                <div class="ds-input --required"
                                [ngClass]="{'--error': !form.get('PersonalAddress').get('address1').valid&&form.get('PersonalAddress').get('address1').touched}">
                                <div class="ds-input__label" i18n>Address</div>
                                <input type="text" #as_AddressSearchTxt formControlName="address1" placeholder="" matInput
                                  [matAutocomplete]="street" id="as_insurance_address1_txt" aria-label="Address" />
                                <mat-progress-bar *ngIf="addressLoading" class="as-insurance-info-page__address-input__loading"
                                  mode="indeterminate"></mat-progress-bar>
                                <mat-autocomplete #street="matAutocomplete" class="ds-dropdown">
                                  <mat-option *ngFor="let option of options; let i=index" [value]="option.description"
                                    (onSelectionChange)="onOptionSelect(option)" id="as_insurance_street_{{i+1}}" class="ds-dropdown__item">
                                    {{ option.description }}
                                  </mat-option>
                                </mat-autocomplete>
                                <div class="ds-input__error" role="alert">
                                  {{form.get('PersonalAddress').get('address1').errors | validationError}}</div>
                                </div>
                              </div>
                              <div class="ds-col--4">
                                <div class="ds-input margin-right-0">
                                  <div class="ds-input__label" i18n>Apt/Suite</div>
                                    <input matInput placeholder="" id="as_insurance_address2_txt" formControlName="address2"
                                      aria-label="Apt/Suite" />
                                    <mat-error>
                                      {{form.get('PersonalAddress').get('address2').errors | validationError}}
                                    </mat-error>
                                </div>
                              </div>
                              </div>
                            <!-- </div> -->
                            <!-- <div class="ds-col--12 ds-flex --row column"> -->
                              <div class="ds-grid--12 no-pad">
                              <div class="ds-col--6">
                                <div class="ds-input --required"
                                [ngClass]="{'--error': !form.get('PersonalAddress').get('city').valid&&form.get('PersonalAddress').get('city').touched}">
                                <div class="ds-input__label" i18n>City</div>
                                <input type="text" formControlName="city" id="as_insurance_city_txt" aria-label="City" />
                                <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('city').errors | validationError}}</div>
                                </div>
                              </div>
                              <div class="ds-col--3">
                                <div class="ds-input --required"
                                [ngClass]="{'--error': !form.get('PersonalAddress').get('state').valid&&form.get('PersonalAddress').get('state').touched}">
                                  <div class="ds-input__label" i18n>State</div>
                                  <input type="text" formControlName="state" matInput [matAutocomplete]="state"
                                    id="as_insurance_state_txt" aria-label="State" (input)="updateVal($event)" />
                                  <mat-autocomplete #state="matAutocomplete" class="ds-dropdown">
                                    <mat-option *ngFor="let state of stateResult; let i=index" [value]="state.value"
                                      id="as_insurance_state_{{i+1}}" class="ds-dropdown__item">
                                      {{state.label}}
                                    </mat-option>
                                  </mat-autocomplete>
                                  <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('state').errors | validationError}}</div>
                                </div>
                              </div>
                              <div class="ds-col--3">
                                <div class="margin-right-0 ds-input as-insurance-info-page__small-input --required"
                                [ngClass]="{'--error': !form.get('PersonalAddress').get('zipCode').valid&&form.get('PersonalAddress').get('zipCode').touched}">
                                <div class="ds-input__label" i18n>Zip code</div>
                                <input type="text" formControlName="zipCode" id="as_insurance_zipCode_txt"
                                  aria-label="Zip Code" />
                                <div class="ds-input__error" role="alert">{{form.get('PersonalAddress').get('zipCode').errors | validationError}}</div>
                                </div>
                              </div>
                            <!-- </div>                           -->

                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div *ngIf="loading" class="as-insurance__overlay" fxLayout="row" fxLayoutAlign="center center">
        <as-spinner></as-spinner>
      </div>
      <div class="as-personal__actions margin-bottom-32 ds-flex --end-center">
        <button class="ds-button" [disabled]="!form.valid" tabindex="0" (click)="continueClicked()" [ngClass]="{'--primary':form.valid,'--primary--disabled':!form.valid}" aria-label="Continue">
          <label i18n>Continue</label>
      </button>
      </div>
    </div>

  </div>
</main>
