@import "../../../../../styles.scss";

.ds-modal {
  position: relative;
  background: #fff;
  margin: 0 auto;
  width: 455px;
  .ds-modal__content {
    padding-left: 20px;
    padding-top: 0px;
    max-width: 455px;
    @include when-less-than(ds-1024) {
      padding: 10px;
    }
    .ds-col--12 {
      &:nth-of-type(2) {
        padding: 0;
      }
      &:first-of-type [class*="ds-icon"] {
        margin-right: 0px;
      }
    }
  }
  &__warning-icon {
    color: #f56a00;
    border-radius: 50px;
    background: #ffeedf;
    border: 2px solid #f56a00;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 12px;
    height: 50px;
    width: 50px;
    border: 1 px;
  }
}
.peace-of-mind {
  @include when-less-than(ds-768) {
    .ds-pagination--footer {
      @media screen and (orientation: portrait) {
        flex-direction: column;
      }
      @media screen and (orientation: landscape) {
        flex-direction: row;
      }
    }
  }
}
.ds-button.--primary {
  width: 89px;
  height: 46px;
  border-radius: 4px;
  border: solid 2px #35792a;
  margin: 0 auto;
}

.dialog-msg1 {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: normal;
  color: #424245;
}
.message_1 {
  margin-bottom: 20px;
}
.title {
  font-size: 20px;
  margin: 0px;
}
.ds-pagination--footer {
  margin-top: 30px;
}
::ng-deep {
  .sym-list{
    padding-left: 20px;
  }
  .sym-list li {
    list-style-type: inherit;
  }
  .mat-dialog-container {
    padding-top: 0px;
    @include when-less-than(ds-480){
      padding-top: 30px;
    }
  }
}
