<main class="ds-body as-review">

  <div class="ds-grid--12 ds-body--content">
    <div *ngIf="SpinnerLoading"   class="as-eorder-review-details__overlay" fxLayout="row" fxLayoutAlign="center center">
      <as-spinner></as-spinner>
    </div>
    <div class="ds-col--12 pad-24">
      <div class="ds-col--12">
        <div>
          <span class="ds-icon--arrow-back ds-font--24 ds-green__700 onFocus" tabindex="0" (click)="goToPrevious()" (keydown.enter)="goToPrevious()"
            aria-label="back" title="back" role="button"></span>
        </div>
        <div>
          <h2 class="ds-green__700 margin-bottom-24 onFocus" role="heading" aria-level="1" [attr.aria-label]="[content.as_review_appointment_details.title_desktop]"
            tabindex="0" i18n>
            {{content.as_review_appointment_details.title_desktop}}</h2>
        </div>
      </div>
      <div class="ds-grid--12 ds-form__col--2--map" id="skip-to-main" tabindex="-1">
        <div class="ds-col--5 --center-center no-pad">

          <div class="ds-col--12 ds-card --gray__200 padding-32 padding-bottom-0" fxLayout="column">
            <div class="ds-flex margin-bottom-20" *ngIf="isAlternateFlow">
              <div class="ds-col--11 no-margin">

                <div class="ds-font--12 ds-col--12 no-pad ds-flex">
                  <div class="ds-col--11 no-pad onFocus ds-font--16 --700 margin-bottom-8" aria-label="Reason for visiting" i18n>Reason for visiting
                  </div>
                  <div class="ds-col--1 no-pad">
                    <a (click)="navigate('/eorder/as-eorder-reason-for-visit')" (keydown.enter)="navigate('/eorder/as-eorder-reason-for-visit')"
                      class="ds-link ds-flex  ds-font--16 --500" aria-label="Edit Reason for visiting">
                       Edit
                    </a>
                  </div>
                </div>
                <div class="ds-col--12 ds-flex">
                  <div class="ds-col--1 pad-r-15"><span class="ds-icon--test-tube-label ds-green ds-font--24"></span></div>
                  <div class="ds-col--11 ds-font--14">
                    <div class="ds-font--14 onFocus" *ngIf="!isTestData"
                      [attr.aria-label]="[reasonData.facilityTestTypeValue]"
                      innerHTML={{reasonData.facilityTestTypeValue}}>
                    </div>

                    <div class="ds-font--14 onFocus" *ngIf="isTestData && testsData.length===1"
                      [attr.aria-label]="[testsData[0].facilityTestTypeValue]"
                      innerHTML={{testsData[0].facilityTestTypeValue}}>
                    </div>
                    <div class="ds-font--14 onFocus" *ngIf="isTestData && testsData.length>1" aria-label="Multiple Drug Tests"
                      i18n>
                      Multiple Drug Tests
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ds-flex margin-bottom-20">
              <div class="ds-col--11 no-margin">
                <div class="ds-font--12 ds-col--12 ds-flex">
                  <div class="ds-col--11  ds-font--16 --700 margin-bottom-8 no-pad onFocus" aria-label="Location, date, and time" role="heading" aria-level="2" tabindex="0" i18n>Location,
                    date, and time</div>
                  <div class="ds-col--1 no-pad">
                    <a (click)="navigate('/eorder/as-eorder-appt-scheduler')" (keydown.enter)="navigate('/eorder/as-eorder-appt-scheduler')"
                      class="ds-link ds-flex  ds-font--16 --500" role="link" tabindex="0" aria-label="Edit Location Date and time">
                       Edit
                    </a>
                  </div>
                </div>
                <div class="ds-col--12 ds-flex">
                  <div class="ds-col--1 pad-r-15"><span class="ds-icon--address ds-font--24 ds-green__700"></span></div>
                  <div class="ds-col--9 ds-font--14">
                    <div class="ds-font--14 onFocus"  role="heading" aria-level="3" [attr.aria-label]="[appointmentData?.name]" tabindex="0" i18n>
                      {{appointmentData?.name}}</div>
                    <div  role="heading" aria-level="3" [attr.aria-label]="[appointmentData?.address1]" tabindex="0" i18n class="onFocus">{{appointmentData?.address1}}
                    </div>
                    <div *ngIf="appointmentData?.address2"  role="heading" aria-level="3" [attr.aria-label]="[appointmentData?.address2]" class="onFocus" tabindex="0" i18n >
                      {{appointmentData?.address2}}</div>
                    <div  role="heading" aria-level="3" [attr.aria-label]="[appointmentData?.city,appointmentData?.state,appointmentData?.zip]"
                      tabindex="0" class="onFocus" i18n>{{appointmentData?.city}}, {{appointmentData?.state}} {{appointmentData?.zip}}</div>
                  </div>
                </div>
                <div class="ds-col--12 ds-flex">
                  <div class="ds-col--1 pad-r-15"><span class="ds-icon--calendar ds-font--24 ds-green__700"></span></div>
                  <div class="ds-col--11">
                    <div class="onFocus" tabindex="0">
                      {{formatedDate | date:'longDate'}}</div>
                  </div>
                </div>
                <div class="ds-col--12 ds-flex">
                  <div class="ds-col--1 pad-r-15"><span class="ds-icon--clock ds-font--24 ds-green__700"></span></div>
                  <div class="ds-col--11">
                    <div class="onFocus" tabindex="0">
                    {{appointmentData?.appointmentTime | twelveHourTime}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="margin-bottom-20 ds-flex">
              <!-- <div class="ds-col--1 ds-font--12">3.</div> -->
              <div class="ds-col--11 no-pad">
                <div class="ds-font--12 ds-col--12 no-pad ds-flex">
                  <div class="ds-col--11 onFocus ds-font--16 --700 margin-bottom-" aria-label="Who's visiting" role="heading" aria-level="2" i18n>Who’s visiting</div>
                  <div class="ds-col--1 no-pad">
                    <!-- <button class="ds-link ds-flex ds-font--12" aria-label="Edit who's visiting"
                      (click)="navigate('/eorder/as-eorder-personal-information')">
                       Edit
                    </button> -->
                    <a (click)="navigate('/eorder/as-eorder-personal-information')" (keydown.enter)="navigate('/eorder/as-eorder-personal-information')"
                      class="ds-link ds-flex  ds-font--16 --500" role="link" tabindex="0" aria-label="Edit who's visiting">
                     Edit
                    </a>
                  </div>
                </div>
                <div class="ds-col--12 ds-flex">
                  <div class="ds-col--1 pad-r-15"><span class="ds-icon--person ds-green__700 ds-font--24" ></span></div>
                    <div class="ds-col--9 ds-font--14">
                      <div class="ds-font--14 onFocus" role="heading" aria-level="3"
                      [attr.aria-label]="[personalData?.firstName,personalData?.lastName]" tabindex="0" i18n>{{personalData?.firstName}} {{personalData?.lastName}}</div>
                    <div class="ds-font--14  onFocus" role="heading" aria-level="3" [attr.aria-label]="[personalData?.emailAddress]" tabindex="0" i18n>{{personalData?.emailAddress}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="margin-bottom-20 ds-flex">
              <!-- <div class="ds-col--1 ds-font--12">4.</div> -->
              <div class="ds-col--11 no-pad">
                <div class="ds-font--12 ds-col--12 no-pad ds-flex">
                  <div class="ds-col--11 no-pad onFocus ds-font--16 --700 margin-bottom-8" aria-label="Insurance information" role="heading" aria-level="2" i18n>Insurance
                    information</div>
                  <div class="ds-col--1 no-pad">
                    <a (click)="navigate('/eorder/as-eorder-insurance-information')" (keydown.enter)="navigate('/eorder/as-eorder-insurance-information')"
                      class="ds-link ds-flex  ds-font--16 --500" role="link" tabindex="0" aria-label="Edit Insurance information">
                       Edit
                    </a>
                  </div>
                </div>
                <div class="ds-col--12 ds-flex">
                  <div class="ds-col--1 pad-r-15" *ngIf="!insuranceData?.bringCarderror"><span class="ds-icon--identification-card ds-green__700 ds-font--24" ></span></div>
                  <div class="ds-col--1 pad-r-15" *ngIf="insuranceData?.bringCarderror"><span class="ds-icon--alert ds-gold__500 ds-font--24" ></span></div>
                  <div class="ds-col--9 ds-font--14">
                    <div class="ds-font--14 onFocus" *ngIf="insuranceData?.bringCarderror"
                      role="heading" aria-level="3" [attr.aria-label]="[content.as_review_appointment_details.ins_not_found_f88]" tabindex="0" i18n>
                      <span class="ds-font--14--bold">{{content.as_review_appointment_details.ins_not_found_f88}}</span>
                    </div>
                    <div class="ds-font--14 onFocus" *ngIf="insuranceData?.insuranceData && !insuranceData?.bringCarderror"
                    role="heading" aria-level="3" [attr.aria-label]="[insuranceData?.insuranceData.provider.insuranceCompanyName]" tabindex="0" i18n>
                      {{insuranceData?.insuranceData.provider.insuranceCompanyName}}
                    </div>
                    <div class="ds-font--14 onFocus" *ngIf="insuranceData?.insuranceData && !insuranceData?.bringCarderror"
                    role="heading" aria-level="3" [attr.aria-label]="[insuranceData?.insuranceData.memberId]" tabindex="0" i18n>
                      {{insuranceData?.insuranceData.memberId}}
                    </div>
                    <div *ngIf="!insuranceData?.insuranceData" class="ds-font--14--bold onFocus" aria-label="No insurance provided" role="heading" aria-level="3"
                      i18n>
                      No insurance provided
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="secondaryInsData && secondaryInsData.provider">
                  <div class="ds-col--12 ds-flex">
                    <!-- <div class="ds-col--1 pad-r-15" *ngIf="!secondaryInsData?.bringCarderror"><span class="ds-icon--identification-card ds-green__700 ds-font--24" aria-label="identification card"></span></div>
                    <div class="ds-col--1 pad-r-15" *ngIf="secondaryInsData?.bringCarderror"><span class="ds-icon--alert ds-gold__500 ds-font--24" aria-label="alert"></span></div> -->
                    <div class="ds-col--9 ds-font--14">
                      <as-sec-ins-display [screenName]="'review'" [insuranceData]="secondaryInsData"></as-sec-ins-display>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="errorMessage ds-flex --row" *ngIf="blnShowError">
              <img [src]="imageSrc" class="ds-icon__error--24" />
              <div class="errorMessage__text onFocus"><span i18n>The time you selected is no longer available. <br>Please<a
                    tabindex="0" class="errorLink" (click)="showLocations()"> make changes to your location, date or
                    time</a></span></div>
            </div>
            </div>
            <div class="ds-col--12 ds-flex --center-center no-pad margin-top-24">
                <button class="continueButton ds-button" [disabled]="!isButtonEnabled"
                  [ngClass]="{'--primary':isButtonEnabled,'--primary--disabled':!isButtonEnabled}"
                  (click)="onContinue()">
                  <label i18n>Schedule appointment</label>
                </button>
            </div>

          </div>
        <div class="ds-col--7 no-pad onFocus" tabindex="0">
          <as-google-map *ngIf="addresses$" class="as-review-details__map" [center$]='center$'
            [addresses$]='addresses$'></as-google-map>
        </div>
      </div>
    </div>
  </div>
</main>
