@import '../../../../../styles.scss';

// .ds-body{

.as-eorder-price {
  padding-top: 166px;
  &__content {
    // margin-top: 33px;
    p {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
  &__anchorTag {
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.43;
  }
  &__While-we-do-not-have {
    cursor: pointer;
    line-height: 24px;
    font-size: 15px;
    @include when-less-than(ds-1024) {
      text-align: center;
      margin: 10px;
    }
  }

  .estimated-price {
    .price {
      font-size: 52px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -0.015em;
      // margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .ds-body--content {
    width: 100%;
    padding: 0 133px;

    .ds-col--12 {
      .ds-flex.--row {
        > .ds-col--12 {
          > div {

            h1 {
              font-size: 32px;
              margin-top: 0px;
              margin-bottom: 0px;
            }

            &:first-of-type {
              place-content: start;
              justify-content: start;
              position: sticky;
              top: -90px;
              background: $ds-gray__050;
              margin-bottom: 90px;
            }
          }

          .ds-grid--12 {
            form {
              [class*='icon--info'] {
                display: flex;
                align-items: center;
                line-height: 1;
              }
            }
          }
        }

        > .ds-col--4 {
          margin-left: 16px;
          position: sticky;
          top: 144px;
          height: 700px;
        }
      }
    }
  }
  @include when-less-than(ds-1024) {
    .as-eorder-price{
      padding-top: 128px;
    }

    h1{
      font-size: 24px;
    }

    .estimated-price {
      background-color: $ds-white;

      .price {
        font-size: 32px;
      }
    }

    .ds-body--content {
      width: 100%;
      padding: 0 24px;

      .ds-col--12 {
        .ds-flex.--row {
          .ds-col--8 {
            width: 100%;
          }

          .ds-col--4 {
            display: block !important;
            width: 0;
            padding: 0;
            margin: 0;

            > div {
              display: none;
            }
          }

          .ds-col--9 {
            width: 100%;
          }
        }

        .ds-pagination--footer {
          &.ds-col--10 {
            width: 100%;
          }
        }
      }
    }
  }
  @include when-less-than(ds-768) {
    h1 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 25px;
    }
    &__content {
      padding: 0;
      padding-bottom: 24px;
    }
    .ds-body--content {
      width: 100%;

      > .ds-col--12 {
        padding: 0;
        > .ds-flex.--row {
          > .ds-col--8 {
            width: 100%;
            margin-bottom: 90px;
            padding: 0;

            [class*='ds-col'] {
              width: 100%;
              padding-right: 0;
            }

            form {
              [class*='ds-col'] {
                .ds-input {
                  width: 100%;
                  padding-right: 0;
                }
              }

              [class*='ds-col--3'] {
                width: 50%;
                padding-right: 16px;
              }
            }
          }
        }

        .ds-pagination--footer {
          width: 100%;

          &.ds-col--8 {
            width: 100%;

            .ds-col--12 {
              padding: 0;

              .ds-col--6 {
                width: 100%;
                padding: 0;

                button {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      as-footer {
        background: $ds-gray__100;
        width: 100%;
        position: fixed;
        bottom: 60px;
      }
    }
  }

  @include when-less-than(ds-640) {
    .ds-body--content {
      as-footer {
        bottom: 78px;
      }
    }
  }
}
// }

sup {
  font-size: 8px;
  font-weight: normal;
}

.errorMessage {
  border-radius: 4px;
  background-color: #f3e0e0;
  padding: 16px;
  font-size: 12px;
  color: #424245;
  margin-bottom: 20px;
  span {
    padding-left: 12px;
  }
}

.labCardLink {
  text-decoration: underline;
  cursor: pointer;
}
.as-eorder-price-estimate__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  // background: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.as-eorder-price-estimate__overlay_no_bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  // background: rgba(255, 255, 255, 0.5);
  background: #f7f7f9;
  z-index: 3;
}

// .ds-billing .ds-option-card[class*="--active"][class*="--creditCard"] {
//   height: 450px !important;
//   max-height: 450px!important
// }


// .ds-billing .ds-option-card[class*="--bankAccount"] [class*="--content"],.ds-billing .ds-option-card[class*="--creditCard"] [class*="--content"] {
//   @include when-less-than(ds-768) {
//     padding: 0px;
//   }
// }


/*iframe styles*/

// [class*="--creditCard"]{

//   > [class*="--row"]{
//     z-index: 3;
//   }

//   // [class*="--content"]{
//   //   position: relative;
//   //   height: 100%;

//   //   #payment-card{
//   //     position: absolute;
//   //     top: -68px;
//   //     right: 0;
//   //     bottom: 0;
//   //     left: -8px;
//   //     z-index: 0;
//   //     @include when-less-than(ds-768)  {
//   //       left: -1px;
//   //     }
//   //   }
//   // }

//   // [class*="--option"]{
//   //   background: linear-gradient(90deg, transparent 97%, #fff 3%);
//   //   @include when-less-than(ds-768){
//   //     background: linear-gradient(90deg, transparent 96%, #fff 4%);
//   //   }
//   //   @media only screen and (max-width: 585px){
//   //     background: linear-gradient(90deg, transparent 94%, #fff 6%);
//   //   }
//   //   @include when-less-than(ds-480){
//   //     background: linear-gradient(90deg, transparent 94%, #fff 6%);
//   //   }
//   //   @media only screen and (max-width: 405px){
//   //     background: linear-gradient(90deg, transparent 93%, #fff 7%);
//   //   }
//   //   @media only screen and (max-width: 350px){
//   //     background: linear-gradient(90deg, transparent 92%, #fff 8%);
//   //   }
//   // }

//   &[class*="--active"]{

//     [class*="--option"]{
//       background: linear-gradient(90deg, transparent 96%, transparent 3%);
//     }
//   }
// }


// @include when-less-than(ds-768)  {

//   .ds-billing .ds-option-card[class*="--active"][class*="--creditCard"]{
//     height: 800px !important;
//     max-height: 800px!important;

//     [class*="--option"]{
//       background: none;
//     }
//   }

//   [class*="--creditCard"]{

//     &[class*="--active"]{

//       #payment-card{
//         height: 810px;
//       }
//     }
//   }
// }

// @include when-less-than(ds-640){
//   #payment-card{
//     top: -100px !important;
//   }
// }

// @media only screen and (max-width: 821px) {
//   [class*="--creditCard"]{

//     &[--active]{

//       min-height: 900px!important;

//       #payment-card{
//         height: 810px;
//       }
//     }
//   }
// }



.ds-input__error{
  color: #e01a00;
  display: block;
  height: 20px;
  margin-top: 4px;
}


.ds-input.--error .ds-input__label {
  color: #e01a00;
}
.--error1{
  border-color: red !important;
}


.hide_Easypay{
  visibility: hidden;
}
// .ds-billing {
//   padding-bottom: 10px !important;
// }



// .ds-input__radio [type=radio]:checked+label,.ds-input__radio [type=radio]:not(:checked)+label {
//   @include when-less-than(ds-768)  {
//     padding-left: 22px;
//     line-height: 22px;
//   }
// }


// #payment-card{
//   // min-height: 500px!important;
//   // @media only screen and (max-width: 821px) {
//   //   min-height: 860px!important;
//   //   height: 860px;
//   // }
// }

#btn-next{
  display: flex;
  flex-direction: row-reverse;
  @include when-less-than(ds-768){
    margin-left: 0px;
  }
}

#payment-card{
  min-height: 548px!important;
  &.skip-pay {
    min-height: 400px !important;
    height: 400px !important;
  }

  &.skip-pay-success{
    min-height: 330px !important;
    height: 330px !important;
  }
  &.cc-success{
    min-height: 465px !important;
    height: 465px !important;
  }

  @include when-less-than(ds-768){
      min-height: 820px!important;
      height: 820px;
      &.skip-pay {
      min-height: 380px !important;
      height: 380px;
    }
    &.skip-pay-success{
      min-height: 330px !important;
      height: 330px !important;
    }
    &.cc-success{
      min-height: 745px !important;
      height: 745px !important;
    }
  }
}

#skip-to-main {
  padding-right: 48px;
  background-color: $ds-gray__050;

  @include when-less-than(ds-1024) {
    padding-right: 0px;
  }
}
