<main class="ds-body as-eorder-expiry">
  <div class="ds-grid--12 ds-body--content">
    <div class="ds-col--12 pad-24" fxLayoutAlign="center center">
      <div class="ds-flex --row ds-form__col--2">
        <div class="" id="skip-to-main" tabindex="-1">
          <div class="main_container">
            <div class="warning">
              <span class="ds-icon--exclamation-mark ds-red ds-font--32 ds-red__100--bg" aria-label=""></span>
            </div>
            <div>
              <h2 class="ds-red__500" tabindex="0" [attr.aria-label]="[content.as_link_expiry.title]" role="heading" aria-level="1" i18n>
              {{content.as_link_expiry.title}}</h2>
              <div class="content">
                <p [attr.aria-label]="[content.as_link_expiry.content1]" role="complementary" i18n tabindex="0"> {{content.as_link_expiry.content1}}</p>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</main>
